<link rel="stylesheet" href="/css/scroll_box.css" />

<div class="scroll-parent">

  <div class="scroll-container">
    {{#each items}}
      <div
        class="item-box item-box-round category-item"
        data-item-title="{{this.name}}"
        data-category-name="{{this.name}}"
      >
        <a href="#">
          <img src="/api/categories/image/{{this.name}}" alt="{{this.name}}" />
        </a>
      </div>
    {{/each}}
  </div>
  <button class="scroll-arrow left-arrow">
    <span class="material-symbols-outlined"> arrow_back_ios </span>
  </button>
  <button type="button" class="scroll-arrow right-arrow">
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </button>

</div>

<script src="/js/category_scroll_box.js"></script>