<link rel="stylesheet" href="/css/scroll_box.css" />

<div class="scroll-parent">

  <div class="scroll-container">
    {{#each items as |item|}}
      <div class="item item-round" data-item-title="{{item.title}}">
        <a href="#">
          <img
            src="/api/images/{{getImageIdFromIndex item.images 0}}"
            alt="Item {{item.id}}"
          />
        </a>
      </div>
    {{/each}}
  </div>
  <button class="scroll-arrow left-arrow">
    <span class="material-symbols-outlined"> arrow_back_ios </span>
  </button>
  <button type="button" class="scroll-arrow right-arrow">
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </button>

</div>