
<!-- Search bar -->
    <div class="container mt-5 mb-1">
      <fieldset class="border border-primary mb-2 px-2">
      <div class="row mb-2">
         
        <legend>Search Radius</legend>
        <div class="col-12 col-sm-3 ">
          {{!-- search-location button. It shows the modal for map --}}
          <button
            id="search-location"
            type="button"
            class="btn btn-primary d-flex align-items-center justify-content-center"
            data-bs-toggle="modal"
            data-bs-target="#mapModal"
          >
            <span class="material-symbols-outlined"> location_searching </span>
            &nbsp &nbsp Location
          </button>
        </div>
        <!-- select search radius -->
        <div class="col-12 col-sm-5">
          <select id="search-radius" class="form-select" aria-label="search radius">
            <option value="50" selected>50 km radius</option>
            <option value="20">20 km radius</option>
            <option value="10">10 km radius</option>
            <option value="5">5 km radius</option>
            <option value="2">2 km radius</option>
            <option value="1">1 km radius</option>
            <option value="1000">Search anywhere</option>
          </select>
        </div>
        </div>
        </fieldset>
        <div class="row">
        {{!-- search term --}}
        <div class="col-12 col-sm-10">
          <input
          id="search-term"
            class="form-control"
            type="text"
            placeholder="What are you looking for?"
            aria-label="default input example"
          />
        </div>
        {{!-- search button --}}
        <div class="col-12 col-sm-1">
          <div class="d-grid gap-2 d-sm-block">
            <button id="search-btn" type="button" class="btn btn-primary btn-block">
              <span class="material-symbols-outlined">search</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    {{> map_modal }}
    <script src="/js/search.js"></script>