<!-- Search bar -->
    <div class="container mt-5 mb-1">
      <div class="row">
        <div class="col-12 col-sm-2 justify-content-end d-flex">
          {{!-- search-location button. It shows the modal for map --}}
          <button
            id="search-location"
            type="button"
            class="btn btn-primary d-flex align-items-center justify-content-center"
            data-bs-toggle="modal"
            data-bs-target="#mapModal"
          >
            <span class="material-symbols-outlined"> location_searching </span>
            &nbsp &nbsp Location
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <input
            class="form-control"
            type="text"
            placeholder="What are you looking for?"
            aria-label="default input example"
          />
        </div>
        <div class="col-12 col-sm-3">
          <!-- select search radius -->
          <select class="form-select" aria-label="search radius">
            <option value="0" selected>Search anywhere</option>
            <option value="1">1 km radius</option>
            <option value="2">2 km radius</option>
            <option value="5">5 km radius</option>
            <option value="10">10 km radius</option>
            <option value="20">20 km radius</option>
          </select>
        </div>
        <div class="col-12 col-sm-1">
          <div class="d-grid gap-2 d-sm-block">
            <button type="button" class="btn btn-light btn-block">
              <img src="/images/search_icon.png" alt="Search" width="24" />
            </button>
          </div>
        </div>
      </div>
    </div>
    {{> map_modal }}