
{{> search_bar }}
{{> hero_image}}

<h2 style="display:inline-block;">Free Items</h2><a href="/search/free"> (See All)</a>
{{> free_item_scroll_box items=data.freeItems}}
<h2 style="display:inline-block;">Categories</h2><a href="/categories"> (See All)</a>
{{> category_scroll_box items=data.categories}}

<script src="/js/scroll_box.js"></script>