<style>
  .thumbnail { width: 200px; height: 200px; object-fit: cover; margin: 5px; }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h2>New Item</h2>
      <form
        id="new-item-form"
        onsubmit="formSubmitNew(event, this)"
        enctype="multipart/form-data"
      >
        <input
          type="hidden"
          name="username"
          id="username"
          value="{{data.username}}"
        />
        {{! Category }}
        <label for="cat_name">Category</label>
        <select
          name="cat_name"
          class="form-select"
          aria-label="Default select example"
        >
          {{#each data.categories}}
            <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
        {{! Title }}
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>
        {{! Description }}
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            required
          ></textarea>
        </div>
        {{! Price }}
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            required
          />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="0"
              id="freeCheckbox"
            />
            <label class="form-check-label" for="freeCheckbox">
              Free
            </label>
          </div>
        </div>
        {{! Image }}
        <div class="form-group my-3">
          <button
            type="button"
            id="image-upload-button"
            class="btn btn-primary"
            onclick="document.getElementById('image-upload').click();"
          >Choose Image...</button>
          <input
            {{! we use the button to show the openfile dialog so the name of the file won't be apeared in the output }}
            style="display:none;"
            type="file"
            class="form-control-file"
            id="image-upload"
            name="images[]"
            accept="image/*"
          />
        </div>
        <div id="image-previews" class="d-flex flex-wrap"></div>
        {{! Cancel button }}
        <a href="/dashboard" class="btn btn-secondary">
          Cancel
        </a>
        {{! Submit button }}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<script src="/js/new_edit_item.js"></script>